.container {
  margin: 50px 0px;
}

header {
  background: #feebec;
  padding: 10px;
  border-radius: 8px;
  width: 1000px;
  display: block;
  margin: 0 auto;
  text-align: center;
  color: #f15d73;
}

h1 {
  font-family: "Signika Negative", sans-serif;
}

header {
  margin-bottom: 25px;
  text-align: center;
}

.poem-generation {
  display: block;
  margin: 0 auto;
  text-align: center;
}

#prompt {
  font-family: "Signika Negative", sans-serif;
  border-radius: 8px;
  padding: 5px 10px;
  width: 800px;
  border-width: 1px;
}

#prompt:focus {
  outline-color: #f15d73;
}

#submit {
  font-family: "Signika Negative", sans-serif;
  border-radius: 8px;
  margin-top: 20px;
  width: 800px;
  border-color: transparent;
  background: #feebec;
  color: #f15d73;
}

#actual-poem {
  margin: 30px auto;
  font-family: "Signika Negative", sans-serif;
  color: #313638;
  width: 300px;
  padding: 20px;
}
a {
  color: #f15d73 !important;
}
footer {
  font-family: monospace;
  font-size: 12px;
  margin-top: 30px;
  text-align: center;
}
